body {
    background-color: #fcfbfb;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}

#backgroud {
    height: 725px;
}
header {
    background-color: rgba(105, 223, 20, 0.7);
}
nav a:hover {
    background-color: black;
    color: #d9c2a3
}
div {
    width: 1600px;
}
.icon {
    width: 80px;
}
nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    padding: 35px;
}
footer p, a {
    text-align: center;
    background-color: rgb(204, 247, 13);
    text-decoration: none;
}
footer div {
    background-color: #d9c2a3;
}
section p {
    background-color: none;
}
section a {
    text-align: center;
    background-color: rgb(81, 114, 246);
}
section h2 {
    text-align: center;
    background-color: none;
}
section h1, h4 {
    background-color: deeppink;
}
section h4, h1, h2 {
    text-align: center;
    text-decoration: aliceblue;
}
footer p a:hover {
    font-size: 1.2em;
}
.home-title {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
}
.msg {
    background-color: #6f7364;
    line-height: 1.5em;
}
.book, .join {
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.card-img {
    border: 10px solid #d9c2a3;
}
.main section img {
    box-sizing: border-box;
}





/* CSS - Name: "positionstyles.css" */